.media-img{
    max-height: 500px;
    max-width: 500px;
    bortder-radius: 6px;
    margin: 0 10px 10px 10px;
}

.media-img-wrapper{
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}

.category-tag{
    background-color:violet;
    color:white;
    font-weight:500;
    border-radius:5px;
    padding:.3em;
}

.original-price{
    text-decoration: line-through;
}

@media (max-width: 1024px) {
    .media-img{
        max-width:300px;
        height:auto;
    }
}