.home-button {
    white-space: nowrap;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.home-button:active {
    animation: shake 0.5s ease-in-out; /* Adjust the duration as needed */
}
